<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="piano">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0332395359487273 -0.0818001639870704 0.0554396606130252"
        rpy="0 0 0" />
      <mass
        value="0.1875" />
      <inertia
        ixx="4.8828125E-05"
        ixy="-4.61011798758941E-20"
        ixz="6.77626357803443E-22"
        iyy="0.000361328125"
        iyz="1.79385696360699E-21"
        izz="0.000390625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piano/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piano/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Empty_Link">
    <inertial>
      <origin
        xyz="6.93889390390723E-18 0.0125 -0.025"
        rpy="0 0 0" />
      <mass
        value="0.1875" />
      <inertia
        ixx="4.8828125E-05"
        ixy="6.7762635780344E-22"
        ixz="4.61011798758941E-20"
        iyy="0.000390625"
        iyz="6.12954105867009E-37"
        izz="0.000361328125" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piano/meshes/Empty_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piano/meshes/Empty_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="dummy joint"
    type="fixed">
    <origin
      xyz="0.03324 -0.0568 0.04294"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Empty_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>